.detailsSection{
    display: flex;
    justify-content: space-around;

}
.guideDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutSection{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
}
.instructor{
    font-size: 30px;
    font-weight: 600;
    
    margin-bottom: 10px;
}
.bookingSection{
    height: 600px;
    padding: 30px;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 30px;
}
.nameSection img{
    width: 70px;
    left: 15px;
    border-radius: 50%;
}
.nameSection{
    display: flex;
    align-items: center;
    gap: 20px;
}
.horizontal-line {
    border-top: 1px solid #7a7676; /* You can adjust the color and thickness */
    width: 80%; /* Set the width to 100% to span the entire container */
    margin: 2px 0; /* Add some margin for spacing */
}
.abouthorizontal-line{
    border-top: 3px solid #e71717; /* You can adjust the color and thickness */
    width: 10%; /* Set the width to 100% to span the entire container */
    margin: 2px 0; 
    
    margin-bottom: 20px;
}
.dateSection{
    padding: 15px;
    font-size: 18px;
    font-family: Roboto;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #ccc;
    margin-block: 5px;
}

.peopleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.peopleSection label {
    margin-right: 10px;
}

.peopleSection input {
    padding: 5px;
    font-size: 14px;
}

.peopleSection button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.peopleSection button:hover {
    background-color: #333;
    color: #fff;
}
.msgBtn{
    border: none;
    padding: 15px 30px;
    background-color: #5e4697;
    border-radius: 15px;
    margin-bottom: 10px;
}
.addressSection{
    background-color:#fff;
    width: 100%;
    
    display: flex;
    align-items: center;
}
.addressSection img{
    width: 30px;
    height: 30px;
    margin-inline: 10px;
}
.addressSection div{
    padding: 0;
    font-size: large;
    font-weight: 600;
    padding-left: 20px;
}
.addressSection p{
    font-size: medium;
    font-weight: 500;
    padding-left: 20px;
}

.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .snip1527 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }
  
  .snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  
  .snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #700877;
    content: '';
    background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    opacity: 0.8;
    z-index: -1;
  }
  
  .snip1527 .date {
    background-color: #fff;
    border-radius: 50%;
    color: #700877;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
  }
  
  .snip1527 .date span {
    display: block;
    line-height: 14px;
  }
  
  .snip1527 .date .month {
    font-size: 11px;
  }
  
  .snip1527 h3,
  .snip1527 p {
    margin: 0;
    padding: 0;
  }
  
  .snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  
  .snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  }
  
  .snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
  .snip1527:hover img,
  .snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
